{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Chat{% endblock title %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock extra_head %}
{% block content %}
		<div class="container">
			<h1>Chat</h1>
		<hr>
		<div class="row" id="content-columns">
			<div class="col-xs-8" id="content-column">
				<div id="h3">
					<h3>select the user -></h3>
				</div>
			</div>
			<div class="col-xs-4">
				<table class="table table-hover table-striped" id="userstable">
        				<thead>
        					<tr>
								<th>Users</th>
							</tr>
        				</thead>
        				<tbody>
						{% for userr in users %}
        					<tr>
							<td>
							{% if user.is_authenticated and user.username != userr.username %}
							<a title="Change" href="{% url 'dialog' userr.id %}">{{ userr.username }}</a>
						{% else %}
						{{ userr.username }}
						{% endif %} 
							</td>
 						</tr>
						{% endfor %}
					</tbody>
				</table>
   
			</div>
		</div>
		<div class="row" id="footer">
			<div class="col-xs-12">
				&copy; 2017 Chat
			</div>
		</div>
		</div>
{% endblock content %}
