{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Requests{% endblock title %}
{% block extra_head %}
	<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        token = "{% csrf_token %}";
        var count = {{ count }};
        {% if request.GET.order %}sort = {{request.GET.order}}{% else %}sort = null{% endif %};
    </script>
	<script src="{% static 'js/main.js' %}"></script>
{% endblock extra_head %}
{% block content %}
{% if request.GET.message %}
<div id='alert'>
    <div class="alert alert-warning" role="alert">{{request.GET.message}}</div>
</div>
{% endif %}
<div class="requests">
    <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Path</th>
                <th>Method</th>	
                <th>Time</th>
                <th>Priority
                {% if request.GET.order == '1' %}
                <a href="{% url 'requests' %}?order=0">&uarr;</a>{% elif request.GET.order == '0' %}
                <a href="{% url 'requests' %}?order=1">&darr;</a>{% else %}
                <a href="{% url 'requests' %}?order=1">&uarr;&darr;</a>
                {% endif %}
                </th>	
            </tr>
            </thead>
    <tbody>
    {% for req in requests %}
        <tr class="request">
            <td>{{ req.path|slice:":50" }} </td>
            <td>{{ req.method }}</td>
            <td>{{ req.time|date:"c"|slice:":12" }}</td>
		<td>
            {{ req.priority }}
            <form id='priority_form' action="{% url 'requests' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value={{request.GET.order}} name="order">
                <input id="id_priority" min="1" name="priority" type="number" value="{{req.priority}}" />
                <button type="submit" name="req_id" value="{{ req.id }}" class="btn btn-default">Submit</button>
            </form>
		</td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}
